<div class="guided UserProfileHeader ajax Module profileHeader moj-">
    <div class="centeredWithinWrapper gridWidth headerSizer">
        <div class="header" itemscope="" itemtype="http://schema.org/Person">
            <div id="moj-color" class="fixedHeader">
                <div  class="titleBar centeredWithinWrapper gridWidth">
                    <br>
                    <br>
                    <br>
                    <br>


                    <div  class="fixedHeaderNameAndImage" style="bottom: 70px;">
                        <div class="fixedHeaderName" itemprop="name">
                            {{username}}
                        </div>

                    </div>
                    <div class="buttons">
                        <div ng-controller="SignupCtrl" >
                            <button  type="button" ng-click="openCategory()" class=" ng-binding editProfile hasText rounded ShowModalButton Button primary Module ajax btn">
                                <span class="buttonText" >Add Categories</span>
                            </button>
                        </div>
                        <a href="manageProfile.html">
                            <button  type="button" class="editProfile hasText rounded ShowModalButton Button primary Module ajax btn">
                                <span class="buttonText">Edit Profile</span>
                            </button>
                        </a>

                        <a href="dashboard.html">
                            <button type="button" class="editProfile hasText rounded ShowModalButton Button primary Module ajax btn">
                                <span class="buttonText">Dashboard</span>
                            </button>
                        </a>


                    </div>

                </div>
                <div class="divider centeredWithinWrapper gridWidth">

                </div>
            </div>
            <div class="profileInfo">
                <div class="aboutBar">
                    <div class="about">
                        <div class="name">

                        </div>
                        <div class="iconsLinksEtc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>