

<!--Needs to be in its own directive, Joey tried but wasn't working possibly scoping issues-->
<div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content JMS-addSpace" >
            <div class="modal-header JMS-addSpace">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" >Add Post</h4>
            </div>
            <div class="modal-body" >
                <ul class="nav nav-pills">
                    <li ng-class="{active: checkTab(0)}">
                        <a href ng-click="setTab(0)">New Post</a>
                    </li>
                    <li ng-class="{active: checkTab(1)}">
                        <a href ng-click="setTab(1)">New Lost Post</a>
                    </li>
                </ul>
                <div ng-show="checkTab(0)">
                    <addpost-contents></addpost-contents>
                </div>
                <div ng-show="checkTab(1)">
                    <addlostpost-contents></addlostpost-contents>
                </div>
            </div>
        </div>
    </div>
</div>

