<div class="container" ng-controller="LoginCtrl as login">


    <form class="col-md-7">
        <div class="form-group">
            <input type="text" id="login_username" class="form-control input-lg" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" id="login_password" class="form-control input-lg" placeholder="Password">
        </div>
        <div class="form-group">

            <button class="btn btn-primary btn-lg btn-block" id="login_submit" ng-click="loginUser()">Sign In</button>
            <span class="pull-left"><a href="/views/reset.html">Reset Password</a></span>
            <span class="pull-right"><a href="/signup.html">Sign Up</a></span>

        </div>
    </form>
</div>