<div class="container JMS-center" ng-controller="SignupCtrl" >
    <h1 class="moj-centertitle">Welcome to Peterest</h1>
    <form class="col-md-7">
        <div class="form-group">
            <input type="text" id="signup_firstName" class="form-control input-lg" placeholder="First Name">
            <class="form-group">
            <input type="text" id="signup_lastName" class="form-control input-lg" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input type="text" id="signup_email" class="form-control input-lg" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="text" id="signup_username" class="form-control input-lg" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="number" id="signup_zipCode" class="form-control input-lg" placeholder="Zip Code">
        </div>
        <div class="form-group">
            <input type="password" id="signup_password" class="form-control input-lg" placeholder="Password">
            <class="form-group">
            <input type="password" id="signup_confirmPassword" class="form-control input-lg" placeholder="Confirm Password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block" type="submit" id="signup_submit" ng-click="signupNewUser()">Create account</button>
        </div>
        <span class="pull-left"><a href="/">Login</a></span>
    </form>
</div>