<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>PetPinterest</title>
    <script src="//www.parsecdn.com/js/parse-1.3.0.min.js"></script>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/bundle1.css">
    <link rel="stylesheet" href="../styles/bundle2.css">
    <link rel="stylesheet" href="../styles/bundle3.css">
    <!-- endbuild -->

    <script>
        Parse.initialize("tpXum9bDKsYU5fWMR9nKsD2W9Y97VY6PEkdCNZZC", "rH6f6fEncHvsXGzNrG9wsqOKpcKIoCxVnhUpbcwP");

        Parse.Cloud.run('filterPosts', {},
                {
                    success: function(result)
                    {

                        console.log(result);
                    },
                    error: function(error)
                    {
                        console.log( error.message);
                    }
                });

    </script>
</head>
<body ng-app="peterestApp">
<div ng-controller="AccountCtrl" class="noTouch InitializeHomeFeedSpinnerStep ModalFirstBoardIntroStep">
    <view-board></view-board>
    <view-post></view-post>

    <div class="container">

        <div style="display:none">{{message}}</div>
        <div data-component-type="17" class="App full AppBase Module">
            <account-other></account-other>

            <div data-component-type="17" class="App full AppBase Module">
                <div class="UserProfilePage ajax Module" style="min-height: 314px;">
                    <div class="HeroHelperBase ajax HeroBasic Module">
                    </div>

                        <account-header></account-header>


                        <account-nav></account-nav>

                    <div class="tab-content">

                        <div class="tab-pane active" id="boards">

                            <!--<div ng-controller="AddPostCtrl">-->
                                <!--<button class="btn btn-primary btn-lg" ng-click="openMod()">-->
                                    <!--Add Post-->
                                <!--</button>-->
                            <!--</div>-->
                            <acc-boardlist></acc-boardlist>

                        </div>

                        <div role="tabpanel" class="tab-pane" id="pins">

                            <my-posts></my-posts>

                        </div>

                        <div role="tabpanel" class="tab-pane" id="likes">

                            <accountliked-posts></accountliked-posts>

                        </div>

                        <div role="tabpanel" class="tab-pane" id="followers">

                            <follower-list></follower-list>

                        </div>

                        <div role="tabpanel" class="tab-pane" id="following">

                            <following-list></following-list>

                        </div>
                    </div>
                </div>
                <div class="appendedContainer"></div>
            </div>
        </div>
    </div>
    <div ng-show="showBoards">

        <follower-board></follower-board>
        <following-board></following-board>

    </div>

    <div ng-show="showPins" >

        <div class="col-md-12 text-center">
            <div class="pin-layout">
                <!--<button ng-click='loadLikedPosts()'>Fill My Posts</button>-->
                <!-- class="deckgrid JMS-likePostDeckgrid" -->
                <div ng-repeat="myPost in postsInBoard">
                    <div class="thumbnail">
                        <img src="{{myPost.image}}" data-ng-src="{{myPost.image}}" ng-click="viewSelectedPostFromBoard($index)"  data-imageloaded="" data-loadedclass="animation-faded" data-toggle="modal" data-target="#viewPostModal">
                        <h3 class="ng-binding">{{myPost.name}}</h3>
                        <p class="ng-binding">{{myPost.description}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- EEEEEEEEEWWWWWWWWWWWWWWWWWWWWWWWWWWW    -->
    <div class="modal fade" id="addCategoriesAndActions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                </div>
                <div class="modal-body" >

                    <list-animals></list-animals>

                </div>
            </div>
        </div>
    </div>
    <!-- EEEEEEEEEWWWWWWWWWWWWWWWWWWWWWWWWWWW    -->


</div>


<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="../../bower_components/es5-shim/es5-shim.js"></script>
<script src="../../bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../bower_components/angular/angular.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../../bower_components/angular-animate/angular-animate.js"></script>
<script src="../../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../../bower_components/angular-resource/angular-resource.js"></script>
<script src="../../bower_components/angular-route/angular-route.js"></script>
<script src="../../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../../bower_components/angular-touch/angular-touch.js"></script>
<script src="../../bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
<script src="../../bower_components/lodash/dist/lodash.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="../scripts/app.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

<script src="../scripts/controllers/viewPost.js"></script>
<script src="../scripts/controllers/accountCtrl.js"></script>
<script src="../scripts/controllers/createBoardCtrl.js"></script>
<script src="../scripts/controllers/addPostCtrl.js"></script>
<script src="../scripts/controllers/signupCtrl.js"></script>
<!--<script src="../scripts/controllers/dashboardCtrl.js"></script>&lt;!&ndash; for add post directive  &ndash;&gt;-->


<script src="../scripts/directives/viewPostModalDirective.js"></script>
<script src="../scripts/directives/viewBoardDirective.js"></script>
<script src="../scripts/directives/accountNavDirective.js"></script>
<script src="../scripts/directives/accountHeaderInfoDirective.js"></script>
<script src="../scripts/directives/accountBoardListDirective.js"></script>
<script src="../scripts/directives/accountOtherInfoDirective.js"></script>
<script src="../scripts/directives/accountMyPostsListDirective.js"></script>
<script src="../scripts/directives/accountLikedPostsDirective.js"></script>
<script src="../scripts/directives/accountFollowerListDirective.js"></script>
<script src="../scripts/directives/accountFollowingListDirective.js"></script>
<script src="../scripts/directives/accountFollowingBoardsDirective.js"></script>
<script src="../scripts/directives/accountFollowerBoardsDirective.js"></script>
<script src="../scripts/directives/createNewBoardModalDirective.js"></script>
<script src="../scripts/directives/addPostModalDirective.js"></script>
<script src="../scripts/directives/addPostContentsDirective.js"></script>
<script src="../scripts/directives/addLostPostContentsDirective.js"></script>
<script src="../scripts/controllers/categorySelectionCtrl.js"></script>
<script src="../scripts/directives/listOfAnimalsDirective.js"></script>



<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>


<!-- endbuild -->
</body>
</html>