<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Peterest</title>
    <script src="//www.parsecdn.com/js/parse-1.3.0.min.js"></script>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/bundle1.css">
    <link rel="stylesheet" href="../styles/bundle2.css">
    <link rel="stylesheet" href="../styles/bundle3.css">



    <!-- endbuild -->

    <script>
        Parse.initialize("tpXum9bDKsYU5fWMR9nKsD2W9Y97VY6PEkdCNZZC", "rH6f6fEncHvsXGzNrG9wsqOKpcKIoCxVnhUpbcwP");

        var userGetRecommendations = Parse.User.current();
        var usernameForCloud = userGetRecommendations.get('username');
        Parse.Cloud.run('filterPosts', {},
                {
                    success: function(result)
                    {

                        console.log(result);
                    },
                    error: function(error)
                    {
                        console.log( error.message);
                    }
                });

    </script>
</head>
<body ng-app="peterestApp" class="moj-dashbackground">
<div ng-controller="DashCtrl">
    <dash-header></dash-header>

    <br>
    <br>
    <br>
    <h1 id="q-welcome">Welcome to Peterest</h1><br>
    <br>
    <div class="tabs JMS-centerTabs"  id="tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#recommendations" role="tab" data-toggle="tab" ng-click="clearLowerData()">
                    <h3>Recommendations</h3>
                </a>
            </li>
            <li role="presentation">
                <a href="#animals" role="tab" data-toggle="tab" ng-click="clearLowerData()">
                    <h3>Lost Animals</h3>
                </a>
            </li>
        </ul>

    </div>
    <div class="tab-content JMS-tabContentDash" id="tab-content">
        <!--role="tabpanel" class="tab-pane active"-->
        <div class="tab-pane active" id="recommendations">

            <rec-list></rec-list>
        </div>
        <div role="tabpanel" class="tab-pane" id="animals">
            <div id="lostAnimalDiv">
                 <lost-posts></lost-posts>
            </div>
        </div>
    </div>



    <view-post></view-post>
    <pin-post></pin-post>

    <search-results></search-results>

</div>


<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="../../bower_components/es5-shim/es5-shim.js"></script>
<script src="../../bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../bower_components/angular/angular.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../../bower_components/angular-animate/angular-animate.js"></script>
<script src="../../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../../bower_components/angular-resource/angular-resource.js"></script>
<script src="../../bower_components/angular-route/angular-route.js"></script>
<script src="../../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../../bower_components/angular-touch/angular-touch.js"></script>
<script src="../../bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
<script src="../../bower_components/lodash/dist/lodash.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="../scripts/app.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

<script src="../scripts/controllers/dashboardCtrl.js"></script>
<script src="../scripts/controllers/viewPost.js"></script>
<script src="../scripts/controllers/pinPostCtrl.js"></script>



<script src="../scripts/directives/dashboardHeaderDirecitve.js"></script>
<script src="../scripts/directives/recommendationsDirective.js"></script>
<script src="../scripts/directives/lostAnimalsDirective.js"></script>
<script src="../scripts/directives/searchResultsDirective.js"></script>
<script src="../scripts/directives/viewPostModalDirective.js"></script>
<script src="../scripts/directives/pinPostToBoardDirective.js"></script>
<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
<!-- endbuild -->
</body>
</html>